<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.spring.ioc"/>

    <bean id="devJava" class="com.spring.ioc.model.Developer">
        <property name="name" value="Mickael"/>
        <property name="nbSkillYear" value="4"/>
    </bean>

    <bean id="projectManager" class="com.spring.ioc.model.Developer">
        <property name="name" value="Adam"/>
        <property name="nbSkillYear" value="45"/>
    </bean>

    <bean id="priceXMLBean" class="com.spring.ioc.model.Price"/>
    <bean id="userXMLBean" class="com.spring.ioc.model.User">
        <property name="firstName" value="#{'boris XML'.toUpperCase()}"/>
        <property name="amount" value="#{priceXMLBean.getPrice()}"/>
    </bean>
</beans>